{% extends 'base.html' %}

{% block content %}

<h1>Liste des étudiants</h1>

<a href="/etudiants/ajout/" class="btn btn-success mb-3">
    Ajouter un étudiant
</a>

<table class="table table-striped mt-3">

    <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>

        {% for etudiant in etudiants %}

        <tr>
            <td>{{ etudiant.nom }}</td>
            <td>{{ etudiant.prenom }}</td>
            <td>{{ etudiant.email }}</td>

            <td>
              <a href="/etudiants/modifier/{{ etudiant.id }}/" class="btn btn-warning btn-sm">
    Modifier
</a>

<a href="/etudiants/supprimer/{{ etudiant.id }}/" class="btn btn-danger btn-sm">
    Supprimer
</a>
            </td>
        </tr>

        {% endfor %}

    </tbody>

</table>

{% endblock %}