{% extends 'base.html' %}

{% block content %}

<h1>Absences de Jean Dupont</h1>

<table class="table table-striped">

    <tr>
        <th>Cours</th>
        <th>Date</th>
        <th>Justification</th>
    </tr>

    <tr>
        <td>Réseaux</td>
        <td>01/06/2026</td>
        <td>Oui</td>
    </tr>

    <tr>
        <td>Linux</td>
        <td>03/06/2026</td>
        <td>Non</td>
    </tr>

</table>

<div class="card mt-4">
    <div class="card-body">
        <h5>Statistiques</h5>

        <p>Total absences : 2</p>
        <p>Justifiées : 1</p>
        <p>Non justifiées : 1</p>
    </div>
</div>

{% endblock %}