{% extends 'base.html' %}

{% block content %}

<h1>Liste des enseignants</h1>

<a href="/enseignants/ajout/" class="btn btn-success mb-3">
    Ajouter un enseignant
</a>

<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        {% for enseignant in enseignants %}
        <tr>
            <td>{{ enseignant.nom }}</td>
            <td>{{ enseignant.prenom }}</td>
            <td>{{ enseignant.email }}</td>
            <td>
               <a href="/enseignants/modifier/{{ enseignant.id }}/" class="btn btn-warning btn-sm">
    Modifier
</a>

<a href="/enseignants/supprimer/{{ enseignant.id }}/" class="btn btn-danger btn-sm">
    Supprimer
</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}