{% extends 'base.html' %}

{% block content %}

<h1>Liste des enseignants</h1>

<a href="#" class="btn btn-success">
    Ajouter un enseignant
</a>

<table class="table table-striped mt-3">
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
    <tr>
        <td colspan="4">
            <a href="#" class="btn btn-warning btn-sm">
                Modifier
            </a>

            <a href="#" class="btn btn-danger btn-sm">
                Supprimer
            </a>
        </td>
    </tr>
</table>

{% endblock %}
